
/* Your CSS Code here. */

.holder{
	display:grid;
	width:100%;
	grid-template-columns:100px 100px;
	grid-template-row:100px 100px;
	justify-content: center;
	align-content: center;
	gap: 10px;
	
}

/* .holder .item{
	width:200px;
}

.item-1{
		background-color:red;
}
.item-2{
		background-color:blue;;
}
.item-3{
		background-color:pink;
}
.item-4{
		background-color:black;
} */

.holder .item{
    border: 1px solid rgb(232, 232, 232);
    border-radius: 5px;
    box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
	padding:10px;
}